body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  outline: 2px solid red;

  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  @include mq(mobile) {
    width: 490px;
  }

  @include mq(tablet) {
    width: 768px;
  }

  @include mq(desktop) {
    width: 1366px;
  }
}

.section {
  padding-bottom: 50px;
}
