<section class="advantages">
    <div class="container advantages__container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item advantages__item--authors">
                <p class="advantages__text advantages__text--authors">Adapted author's UPE program</p>
            </li>
            <li class="advantages__item advantages__item--teaching">
                <p class="advantages__text advantages__text--teaching">Modern teaching methods</p>
            </li>
            <li class="advantages__item advantages__item--financial">
                <p class="advantages__text advantages__text--financial">Financial guarantee the result</p>
            </li>
            
        </ul>
    </div>
</section>