<section class="section section__benefits">
  <div class="container container__benefits">
    <div class="benefits__thumb">
      <h2 class="title program__title-benefits">Why do people choose us</h2>
      <!-- <picture>
        <source
          srcset="
            ./images/mobile/program/program-mobile-1x.jpg 1x,
            ./images/mobile/program/program-mobile-2x.jpg 2x
          "
          media="(max-width:767px)"
          type="image/jpg"
        />

        <source
          srcset="
            ./images/tablet/program/program-tablet-1x.jpg 1x,
            ./images/tablet/program/program-tablet-2x.jpg 2x
          "
          media="(min-width:768px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./images/desktop/program/program-desktop-1x.jpg 1x,
            ./images/desktop/program/program-desktop-2x.jpg 2x
          "
          media="(min-width:1366px)"
          type="image/jpg"
        />
        <img
          class="program__img"
          src="./images/mobile/program/program-mobile-1x.jpg"
          alt="photo teacher and students"
          width="120"
          height="137"
          loading="lazy"
        />
      </picture> -->
    </div>
    <ul class="benefits benefits__list">
      <li class="benefits__item">
        <p class="benefits__text">Training in small groups</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">Rendered notes</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">Each lesson has a goal and a specific result</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">The real results of the teacher</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">
          The course program meets the requirements of the MES of Ukraine
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">Set of groups by level of knowledge</p>
      </li>
    </ul>
  </div>
</section>
