<div class="container footer__container">
  <a href="" class="footer__logo">
    <svg width="80" height="29">
      <use href="./images/Icons/symbol-defs.svg#logo"></use>
    </svg>
  </a>
  <a class="footer__tel" href="tel:+38(000)0000000">
    <svg class="footer__tel-icon" width="20" height="19">
      <use href="./images/Icons/symbol-defs.svg#footer-tel"></use></svg
    >+38 (000) 000 00 00</a
  >
  <a href="" class="footer__social">
    <svg class="footer__social-icon" width="40" height="40">
      <use href="./images/Icons/symbol-defs.svg#icon-instagram"></use>
    </svg>
  </a>
</div>
<span class="copyright">&#169; All rights reserved, 2019</span>
