<div class="container header__container">
  <div class="header__nav">
    <a class="header__link" href=""
      ><svg class="header__logo" width="80" height="29.5">
        <use class="header__logo-dark" href="./images/icons/logo-dark.svg#logo-1"></use>
      </svg>
    </a>

    <button aria-expanded="false" class="header__burger-button" type="button" data-menu-button>
      <svg class="header__burger-icon" width="40" height="20">
        <use class="header__burger-open" href="./images/Icons/symbol-defs.svg#icon-burger"></use>
        <use class="header__burger-close" href="./images/icons/close.svg#close"></use>
      </svg>
    </button>
  </div>

  <div class="menu" data-menu>
    <a class="header__link" href="#"
      ><svg class="header__logo" width="80" height="29.5">
        <use class="header__logo-white" href="./images/icons/logo-white.svg#logo-white"></use>
      </svg>
    </a>
    <nav class="menu__nav">
      <ul class="menu__nav-group">
        <li class="menu__nav-item">Studying program</li>
        <li class="menu__nav-item">About</li>
        <li class="menu__nav-item">Training options</li>
        <li class="menu__nav-item">Contacts</li>
      </ul>
    </nav>
    <button class="menu__button" type="button">Consultation by phone</button>
  </div>
</div>
