<section class="hero section">
  <div class="container hero__container">
    <div class="hero__text-wrap">
      <h1 class="hero__title">Complex preparation for English UPE</h1>
      <p class="hero__text hero__text--grey">It won’t be easy.</p>
      <p class="hero__text hero__text--black">
        But you’re guaranteed to get
        <span class="hero__text--orange">+ 25 points</span>
      </p>

      <a href="#contacts" class="hero__button" type="button">I want a free lesson</a>
    </div>
    <div class="hero__image-wrap">
      <picture>
        <source
          media="(min-width: 1366px)"
          srcset="./images/desktop/hero/hero.png 1x, ./images/desktop/hero/hero@2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/tablet/hero/hero.png 1x, ./images/tablet/hero/hero@2x.png 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="./images/mobile/hero/hero.png 1x, ./images/mobile/hero/hero@2x.png 2x"
        />
        <img class="hero__image" src="./images/mobile/hero/hero.png" width="208px" alt="lesson" />
      </picture>
    </div>
  </div>
</section>
