<section class="hero section">
  <div class="container hero__container">
    <h1 class="hero__title">Complex preparation for English UPE</h1>
    <p class="hero__text hero__text--grey">It won’t be easy.</p>
    <p class="hero__text hero__text--black">But you’re guaranteed to get</p>
    <p class="hero__text hero__text--orange"><span class="hero__text--orange">+</span>25 points</p>
    <button class="hero__button" type="button">I want a free lesson</button>
    <img class="hero__image" src="./images/mobile/hero/hero.png" width="208px" alt="lesson" />
  </div>
</section>
