<section class="section how">
  <div class="container how__container">
    <h2 class="how__title">How do we do it</h2>
    <ul class="how__list">
      <li class="how__item">
        <svg class="how__icon" width="46px" height="48px">
          <use href="./images/Icons/symbol-defs.svg#wedo"></use>
        </svg>
        <h3 class="how__item-title">Adapted program preparation for UP</h3>
        <p class="how__item-text">
          You will learn grammar and vocabulary at the same time. And you will learn how to write
          essays.
        </p>
      </li>
      <li class="how__item">
        <svg class="how__icon" width="48px" height="47px">
          <use href="./images/Icons/symbol-defs.svg#wedo2"></use>
        </svg>
        <h3 class="how__item-title">Classroom and online learning</h3>
        <p class="how__item-text">
          The teacher will help not only in the classroom, but also during home preparation. Parents
          can chat if they wish.
        </p>
      </li>
      <li class="how__item">
        <svg class="how__icon" width="68px" height="48px">
          <use href="./images/Icons/symbol-defs.svg#wedo3"></use>
        </svg>
        <h3 class="how__item-title">The habit of reading in English</h3>
        <p class="how__item-text">
          Articles from sources that are used in the development of this UPE will be received by
          phone twice a week.
        </p>
      </li>
      <li class="how__item">
        <svg class="how__icon" width="48px" height="48px">
          <use href="./images/Icons/symbol-defs.svg#wedo4"></use>
        </svg>
        <h3 class="how__item-title">Psychological support</h3>
        <p class="how__item-text">
          We will teach you testing techniques, the ability to plan your confidence training in
          itself.
        </p>
      </li>
      <li class="how__item">
        <svg class="how__icon" width="40px" height="48px">
          <use href="./images/Icons/symbol-defs.svg#wedo5"></use>
        </svg>
        <h3 class="how__item-title">Training on copyright manuals</h3>
        <p class="how__item-text">
          You don't have to waste your time on a search for material and to buy anything extra. We
          have compiled 2 manuals for you.
        </p>
      </li>
      <li class="how__item">
        <svg class="how__icon" width="57px" height="48px">
          <use href="./images/Icons/symbol-defs.svg#wedo6"></use>
        </svg>
        <h3 class="how__item-title">Ability to comprehend spoken English</h3>
        <p class="how__item-text">
          “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in
          accordance with the studied vocabulary.
        </p>
      </li>
    </ul>
  </div>
</section>
