<section class="section section__program">
  <div class="container container__program">
    <h2 class="title program__title">Our program</h2>
    <ul class="program__list">
      <li class="program__item">
        <h3 class="program__subtitle">1 semester</h3>
        <div class="program__thumb">
          <ul class="program__sublist">
            <li class="program__subitem-title">
              <h4 class="program__name">Grammar</h4>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Nouns & Articles</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Adjectives & Adverb</p>
            </li>
          </ul>
          <ul class="program__sublist">
            <li class="program__subitem-title">
              <h4 class="program__name">Vocabulary</h4>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Family & Relations</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">People & Society</p>
            </li>
          </ul>
        </div>
      </li>
      <!-- второй семестр -->
      <li class="program__item">
        <h3 class="program__subtitle">2 semester</h3>
        <div class="program__thumb">
          <ul class="program__sublist">
            <li class="program__subitem-title">
              <h4 class="program__name">Grammar</h4>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Pronouns</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Active Voice</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Passive Voice</p>
            </li>
          </ul>

          <ul class="program__sublist">
            <li class="program__subitem-title">
              <h4 class="program__name">Vocabulary</h4>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Home</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">School</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Work</p>
            </li>
          </ul>
        </div>
      </li>

      <!-- третий семестр -->
      <li class="program__item">
        <h3 class="program__subtitle">3 semester</h3>
        <div class="program__thumb">
          <ul class="program__sublist">
            <li class="program__subitem-title">
              <h4 class="program__name">Grammar</h4>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Modal verbs</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Infinitive</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Gerund</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Participle: 1, 2</p>
            </li>
          </ul>

          <ul class="program__sublist">
            <li class="program__subitem-title">
              <h4 class="program__name">Vocabulary</h4>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Travel & Tourism</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Culture & Free Time</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Sport</p>
            </li>
          </ul>
          <ul class="program__sublist">
            <li class="program__subitem-title">
              <h4 class="program__name">Writing</h4>
            </li>
            <li><p class="program__descr">Informal Letter</p></li>
          </ul>
        </div>
      </li>

      <!-- четвертый семестр -->
      <li class="program__item">
        <h3 class="program__subtitle">4 semester</h3>
        <div class="program__thumb">
          <ul class="program__sublist">
            <li class="program__subitem-title">
              <h4 class="program__name">Grammar</h4>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Clauses: Conditional and Wishes</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Direct / Reported speech</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Preposition</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Conjunction</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Numeral</p>
            </li>
          </ul>

          <ul class="program__sublist">
            <li class="program__subitem-title">
              <h4 class="program__name">Vocabulary</h4>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Healthy Living</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Nature & Environment</p>
            </li>
            <li class="program__subitem">
              <p class="program__descr">Money</p>
            </li>
          </ul>

          <ul class="program__sublist">
            <li class="program__subitem-title">
              <h4 class="program__name">Writing</h4>
            </li>
            <li><p class="program__descr">Formal Letter</p></li>
          </ul>
        </div>
      </li>

      <!-- пятый семестр -->
      <li class="program__item">
        <h3 class="program__subtitle">5 semester</h3>
        <div class="program__thumb">
          <ul class="program__sublist">
            <li class="program__subitem-title">
              <h4 class="program__name"></h4>
            </li>
            <li><p class="program__descr">Revision</p></li>
            <li><p class="program__descr">Tests</p></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
