.advantages {
  padding-bottom: 44px;

  @include mq(desktop) {
    padding-bottom: 175px;
  }
}

.advantages__container {
  padding: 0 52px;

  @include mq(tablet) {
    padding: 0 20px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 216px;

  @include mq(tablet) {
    flex-wrap: nowrap;
    gap: 21px;
    max-width: fit-content;
  }

  @include mq(desktop) {
    flex-wrap: nowrap;
    gap: 0;
  }
}

.advantages__item {
  position: relative;

  display: flex;
  align-items: center;

  @include mq(tablet) {
    width: 216px;
  }

  @include mq(desktop) {
    width: 448px;
  }
}

.advantages__item::before {
  display: block;
  content: '';
  width: 60px;
  height: 60px;

  margin-right: 10px;

  @include mq(desktop) {
    width: 100px;
    height: 102px;

    margin-right: -20px;
  }
}

.advantages__item--authors::before {
  background-image: url(../images/icons/autors.svg);
  background-size: contain;
  background-repeat: no-repeat;

  @include mq(desktop) {
    background-image: url(../images/icons/autors-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.advantages__item--teaching::before {
  background-image: url(../images/icons/teaching.svg);
  background-size: contain;
  background-repeat: no-repeat;

  @include mq(desktop) {
    background-image: url(../images/icons/teaching-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.advantages__item--financial::before {
  background-image: url(../images/icons/financial.svg);
  background-size: contain;
  background-repeat: no-repeat;

  @include mq(desktop) {
    background-image: url(../images/icons/financial-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.64;
  letter-spacing: 0.08em;

  color: var(--title-color);

  @include mq(desktop) {
    font-size: 20px;
    position: absolute;
    left: 81px;
  }
}

.advantages__text--authors {
  width: 146px;

  @include mq(desktop) {
    width: 240px;
  }
}

.advantages__text--teaching {
  width: 80px;

  @include mq(desktop) {
    width: 240px;
  }
}

.advantages__text--financial {
  width: 90px;

  @include mq(desktop) {
    width: 240px;
  }
}
