.advantages {
  padding-bottom: 44px;
}

.advantages__container {
  padding-left: 52px;
  padding-right: 52px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.advantages__item {
  display: flex;
  align-items: center;
}

.advantages__item::before {
  display: block;
  content: '';
  width: 60px;
  height: 60px;

  margin-right: 10px;
}

.advantages__item--authors::before {
  background-image: url(../images/icons/autors.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages__item--teaching::before {
  background-image: url(../images/icons/teaching.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages__item--financial::before {
  background-image: url(../images/icons/financial.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.64;
  letter-spacing: 0.08em;

  color: var(--title-color);
}

.advantages__text--authors {
  width: 146px;
}

.advantages__text--teaching {
  width: 80px;
}

.advantages__text--financial {
  width: 90px;
}
