.section__benefits {
  z-index: 1000;
  position: relative;
  padding-bottom: 0;

  @include mq(tablet) {
  }
  //   outline: 2px dashed green;
}

.container__benefits {
  position: absolute;
  top: -585px;
  transform: translateX(-50%);
  display: block;
  left: 50%;

  @include mq(tablet) {
    top: -400px;
    left: 50%;
  }
}

.benefits__list {
  // счетчик
  counter-reset: section;
  list-style-type: upper-alpha;
  // счетчик
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 280px;
  background-color: var(--white-color);
  padding: 20px 14px 20px 30px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @include mq(tablet) {
    top: 275px;
    display: flex;
    flex-wrap: wrap;

    padding: 35px 118px 40px 98px;
    width: 688px;
  }
}
.benefits__item {
  // outline: 1 solid green;
  margin-bottom: 36px;

  // счетчик
  &::before {
    position: relative;
    counter-increment: section;
    // content: '\2014'counter(section, decimal-leading-zero);
    content: counter(section, decimal-leading-zero);
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.65;
    letter-spacing: 0.08em;
    color: #ff6b09;
  }
  // счетчик

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(-n + 2) {
    @include mq(tablet) {
      margin-bottom: 38px;
    }
  }

  &:nth-child(3) {
    @include mq(tablet) {
      margin-bottom: 50px;
    }
  }
  &:nth-child(4) {
    @include mq(tablet) {
      margin-bottom: 50px;
    }
  }

  &:nth-child(2n) {
    @include mq(tablet) {
      margin-right: 0;
      width: 216px;
    }
  }

  &:nth-last-child(-n + 2) {
    @include mq(tablet) {
      margin-bottom: 0;
    }
  }

  @include mq(tablet) {
    // outline: 1px solid red;
    width: 236px;
    margin-right: 20px;
  }
}

.benefits__text {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.07em;
  color: var(--title-color);

  // полоска
  &::before {
    content: '';
    display: block;
    top: -22px;
    position: absolute;
    display: flex;
    width: 14px;
    height: 2px;
    background-color: #ff6b09;
  }
}

.benefits__thumb {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  //   outline: 2px dashed red;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 280px;
  padding-top: 88px;

  @include mq(tablet) {
    width: 688px;
  }
}

.program__title-benefits {
  //   outline: 1px solid green;
  width: 180px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--white-color);

  @include mq(tablet) {
    position: absolute;
    top: 217px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
  }
}
.program__img {
  position: absolute;
  right: -20px;
  top: 5px;
  width: 120px;
  opacity: 0.5;

  @include mq(tablet) {
    right: -41px;
    top: -115px;
    width: 384px;
    height: 280px;
  }
}
