.container {
}

.footer {
  padding-top: 30px;
  padding-bottom: 0;

  @include mq(tablet) {
    padding-top: 40px;
  }
}

.footer__container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(tablet) {
    flex-direction: row;
  }
}

.footer__logo {
  margin-bottom: 20px;

  @include mq(tablet) {
    margin-bottom: 0;
  }
}

.footer__logo-icon {
  @include mq(tablet) {
    width: 128px;
    height: 45px;
  }
}

.footer__tel {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  letter-spacing: 0.08em;

  color: #111518;
  transition: color 250ms ease;

  &:hover,
  &:focus {
    color: #ff7e28;
  }

  @include mq(tablet) {
    display: inline-flex;
    align-items: center;

    margin-right: 48px;
    margin-bottom: 0;
    margin-left: auto;

    font-size: 20px;
  }

  @include mq(desktop) {
    margin-left: 290px;
    gap: 15px;

    font-size: 30px;
    line-height: 1.23;
  }
}

.footer__tel-icon {
  @include mq(tablet) {
    width: 24px;
    height: 24px;
  }

  @include mq(desktop) {
    width: 30px;
    height: 28px;

    transition: transform 250ms ease;
  }
}

.footer__tel:hover .footer__tel-icon {
  @include mq(desktop) {
    transform: scale(1.05);
  }
}

.footer__social {
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url(../images/Icons/instagram-1x.png);
  background-repeat: no-repeat;
  background-size: contain;

  @include mq(tablet) {
    &::before {
      content: '';
      display: inline-block;

      position: absolute;
      left: -24px;

      height: 40px;
      width: 1px;
      background-color: #b9b9b9;
    }
  }

  @include mq(retina) {
    background-image: url(../images/Icons/instagram-2x.png);
  }
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 21px 0;

  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;

  color: #b9b9b9;

  background-color: #111518;

  @include mq(tablet) {
    justify-content: flex-start;
    padding-left: 20px;
  }
}
