.guarantee {
  padding-top: 50px;

  @include mq(mobile) {
    @include margin-auto;
  }

  @include mq(tablet) {
    width: 768px;
  }

  @include mq(desktop) {
    width: 1366px;
  }
}

.guarantee__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  @include mq(desktop) {
    font-size: 46px;
  }
}

.guarantee__container {
  @include margin-auto;
  background-color: #f1f1f1;
  padding: 50px 20px 50px 27px;

  @include mq(mobile) {
    width: 490px;
  }

  @include mq(tablet) {
    width: 688px;
    padding: 30px 50px 30px 86px;
  }

  @include mq(desktop) {
    width: 1314px;
    padding: 50px 112px 45px 123px;
  }
}

.guarantee__list {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.guarantee__item {
  padding-left: 28px;
  padding-bottom: 23px;
  border-left: 1px dashed #b9b9b9;

  @include mq(tablet) {
    padding-left: 32px;
    padding-bottom: 20px;
  }

  @include mq(desktop) {
    padding-left: 41px;
  }

  &:last-child {
    border: none;
    padding-bottom: 0;
  }
}

.guarantee__text {
  &::before {
    position: absolute;
    content: ' ';
    background-image: url('../images/icons/fire.svg');
    width: 15px;
    height: 20px;
    left: 1px;
    transform: translate(-50%);
  }
}
