.header {
  padding-top: 40px;
  @include mq(tablet) {
    padding-top: 42px;
  }
  @include mq(desktop) {
    padding-top: 33px;
  }
}
.header__link--mobile {
  padding-left: 20px;
}
.header__nav-link--current,
.menu__nav-item--current {
  color: var(--accent-orange-color);
}
.header__nav-btn {
  display: none;
  @include mq(tablet) {
    display: block;
    border: 2px solid var(--accent-orange-color);
    padding-top: 14px;
    padding-bottom: 14px;
    width: 260px;

    background-color: transparent;
    color: var(--accent-orange-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    line-height: 1.23;

    margin-right: 40px;

    transition: color 250ms ease, background-color 250ms ease;

    &:hover,
    &:focus {
      background-color: var(--accent-orange-color);
      color: #ffffff;
      cursor: pointer;
    }
  }
}
.header__nav-desktop {
  @media screen and (max-width: 1365px) {
    display: none;
  }
}
.header__logo {
  @include mq(tablet) {
    width: 128px;
    height: 45px;
  }
}
@include mq(desktop) {
  .header__logo {
    margin-right: 144px;
  }
  .header__nav-link {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
    display: block;
    text-transform: uppercase;
    padding-bottom: 26px;
    padding-top: 26px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-orange-color);
    }
  }
  .header__nav-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 60px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu-open {
  opacity: 1;
}
.header__burger-button {
  position: relative;

  z-index: 100;

  border: none;
  background-color: transparent;
  cursor: pointer;
  @include mq(tablet) {
  }
  @media screen and (min-width: 1366px) {
    display: none;
  }
}
.header__burger-close {
  opacity: 0;
}
.header__burger-button.is-open {
  position: fixed;
  right: 20px;
  top: 45px;
  @include mq(tablet) {
    right: 22px;
    top: 55px;
  }
}
.header__burger-button.is-open .header__burger-open {
  opacity: 0;
}
.header__burger-button.is-open .header__burger-close {
  opacity: 1;
}
// Мобильное меню
.menu {
  position: fixed;
  z-index: 10;
  transform: translateX(100%);
  display: flex;

  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 42px;
  padding-bottom: 222.5px;
  transition: 400ms;
  opacity: 0;
  background: rgba(17, 21, 24, 0.9);
  &.is-open {
    transform: translateX(0%);
    opacity: 1;
  }
  @media screen and (min-width: 1366px) {
    display: none;
  }
}
.menu__button {
  border-color: var(--accent-orange-color);
  padding-top: 14px;
  padding-bottom: 14px;
  width: 260px;

  background-color: transparent;
  color: var(--accent-orange-color);
  font-size: 12px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  line-height: 1.23;
  margin-right: auto;
  @include mq(tablet) {
    display: none;
  }
}
.menu__nav-item {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 800;
  line-height: 1.8;
  &:hover,
  &:focus {
    color: var(--accent-orange-color);
  }
  @include mq(tablet) {
    & {
      font-size: 26px;
    }
  }
}
.menu__nav {
  padding-top: 50px;
  padding-left: 20px;
  @include mq(tablet) {
    margin: 0 auto;
  }
}
.header__logo-white {
  z-index: 1000;
}
