.hero {
  padding-top: 52px;

  @media screen and (max-width: 767px) {
    padding-bottom: 107px;
    background-image: url(../images/hero-background/wave-tablet-1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: -55px;
  }
  @media screen and (min-width: 740px) {
    background-position: 0px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 107px;
    background-image: url(../images/hero-background/wave-tablet-1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: 0 -118px;
  }

  @include mq(tablet) {
    padding-top: 83px;
  }
  @include mq(desktop) {
    background-image: url(../images/hero-background/wave-desktop-1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}
.hero__text-wrap {
  max-width: 280px;
}
.hero__title {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3;
  min-width: 280px;
  color: var(--title-color);
  margin-bottom: 10px;
}
.hero__text {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  &--grey {
    color: var(--primary-text-color);
  }
  &--black {
    color: var(--title-color);
  }
  &--orange {
    color: var(--accent-orange-color);
  }
}
.hero__button {
  font-size: 12px;
  font-weight: 700;
  display: block;
  line-height: 1.25;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
  margin-top: 52px;
  padding: 14px 46px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background-color: var(--accent-orange-color);
  color: var(--white-color);
  border: none;
}
.hero__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
@include mq(tablet) {
  .hero__container {
    display: flex;
  }
  .hero__text-wrap {
    max-width: 308px;
    margin-right: 24px;
  }
  .hero__image {
    width: 376px;
  }
  .hero__button {
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hero__title {
    font-size: 26px;
    letter-spacing: 0.03em;
  }
}
@include mq(desktop) {
  .hero__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 1.3;
  }
  .hero__text-wrap {
    max-width: 536px;
    margin-right: 106px;
  }
  .hero__image {
    width: 842px;
  }
  .hero__button {
    padding: 26px 70px;
    font-size: 14px;
    letter-spacing: 0.14em;
  }
  .hero__text--orange {
    color: var(--title-color);
    margin-bottom: 0;
  }
  .hero__text {
    margin-bottom: 14px;
  }
}
