.hero {
  padding-top: 52px;

  @media screen and (max-width: 767px) {
    padding-bottom: 107px;
    background-image: url(../images/hero-background/wave-tablet-1x.png);
    background-repeat: no-repeat;
    background-size: cover;

    background-position: -55px;

    @include mq(retina) {
      background-image: url(../images/hero-background/wave-tablet-2x.png);
    }
  }

  @media screen and (min-width: 490px) {
    background-position: 0px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 107px;
    background-image: url(../images/hero-background/wave-tablet-1x.png);
    background-repeat: no-repeat;
    background-size: 100% 605px;

    background-position: 0 -75px;

    @include mq(retina) {
      background-image: url(../images/hero-background/wave-tablet-2x.png);
    }
  }

  @include mq(tablet) {
    padding-top: 83px;
  }

  @include mq(desktop) {
    background-image: url(../images/hero-background/wave-desktop-1x.png);
    background-repeat: no-repeat;
    background-size: 100% 878px;

    @include mq(retina) {
      background-image: url(../images/hero-background/wave-desktop-2x.png);
    }
  }
}

.hero__text-wrap {
  max-width: 308px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3;

  color: var(--title-color);
  margin-bottom: 10px;
}

.hero__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;

  display: flex;
  align-items: center;
  letter-spacing: 0.08em;

  color: #b9b9b9;

  &--black {
    font-weight: 700;
    color: #111518;
  }
  &--orange {
    font-weight: 700;
    color: #ff6b09;
  }
}

.hero__button {
  font-size: 12px;
  font-weight: 700;

  line-height: 1.25;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
  margin-top: 52px;
  padding: 14px 46px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background-color: var(--accent-orange-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;

  transition: background-color 250ms ease, box-shadow 250ms ease;

  &:hover,
  &:focus {
    background-color: #ff7c25;
    box-shadow: 1px 5px 21px 1px #ffd5b9;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

@include mq(tablet) {
  .hero__container {
    display: flex;
  }
  s .hero__text-wrap {
    max-width: 308px;
    margin-right: 24px;
  }

  .hero__image {
    width: 376px;
  }

  .hero__button {
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .hero__title {
    font-size: 26px;
    letter-spacing: 0.03em;
  }
}

@include mq(desktop) {
  .hero__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 1.3;
  }

  .hero__text-wrap {
    max-width: 536px;
    margin-right: 106px;
  }

  .hero__image {
    width: 842px;
  }

  .hero__button {
    padding: 26px 70px;
    font-size: 14px;
    letter-spacing: 0.14em;
  }

  .hero__text {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .hero__text--black {
    display: inline-block;
    font-size: 20px;
  }
  .hero__text--orange {
    font-size: 20px;
    display: inline-block;
    color: var(--title-color);
    margin-bottom: 0;
  }
}
