.section__program {
  position: relative;
  background-color: rgba(17, 21, 24, 1);
  //   background-color: teal;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 2050px;

  @include mq(tablet) {
    height: 1355px;
  }
}

.container__program {
  padding-left: 20px;
  padding-right: 20px;

  @include mq(tablet) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.program__title {
  margin-bottom: 43px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);

  @include mq(tablet) {
    margin-bottom: 52px;
    text-align-last: left;
    font-size: 26px;
    line-height: 1.3;
  }
}
.program__list {
  outline: 1px solid yellow;
  position: relative;
  padding-left: 105px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 78px;
    width: 2px;
    height: 1280px;
    border-left: 1px solid var(--white-color);
  }
  // може бути
  @include mq(tablet) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 109px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 9px;
      left: 62px;
      width: 2px;
      height: 705px;
      border-left: 1px solid var(--white-color);
    }
  }
}

.program__item {
  margin-top: 40px;

  &:first-child {
    margin-top: 0;
  }

  @include mq(tablet) {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }
}
.program__subtitle {
  // outline: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // height: 28px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--white-color);

  &::before {
    z-index: 1000;
    content: '';
    display: block;
    margin-right: 20px;
    margin-left: -32px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--accent-orange-color);

    @include mq(tablet) {
      margin-right: 40px;
      margin-left: -52px;
    }
  }
}

.program__sublist {
  outline: 1px solid red;
  @include mq(tablet) {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 176px;

    &:nth-child(3n) {
      width: 110px;
    }
  }
}
.program__subitem-title {
  outline: 1px solid green;
}
.program__name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  // outline: 1px solid red;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  align-items: center;
  letter-spacing: 0.08em;
  color: var(--accent-orange-color);

  &::before {
    content: '';
    display: block;
    margin-right: 6px;
    width: 12px;
    height: 2px;
    background-color: #ff6b09;
  }
}

// було
// .program__subitem {
//   &:last-child {
//     margin-bottom: 8px;
//   }
// }

.program__subitem:last-child {
  margin-bottom: 8px;

  @include mq(tablet) {
    margin-bottom: 0;
  }
}

.program__descr {
  // outline: 1px solid green;
  max-width: 176px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.07em;
  color: rgba(185, 185, 185, 1);
}

.thumb-test {
  @include mq(tablet) {
    display: flex;
    flex-direction: row;
  }
}
