.problems {
    padding-top: 25px;
    padding-bottom: 25px;

    background-color: #111518;
}

.problems__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    padding-top: 19px;
    padding-left: 30px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    
    letter-spacing: 0.08em;
    
    color: var(--title-color);

    background-color: var(--white-color);
}

.problems__titel {
    padding: 25px 0;

    font-weight: 800;
    font-size: 24px;
    line-height: 1.3;

    letter-spacing: 0.03em;

    color: var(--white-color);
}

.problems__titel--accent {
    color: #FF6B09;
}