.reviews {
  @include margin-auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  @include mq(mobile) {
    width: 490px;
  }
  @include mq(tablet) {
    width: 768px;
  }

  @include mq(desktop) {
    width: 1366px;
  }
}

.reviews__container {
  padding: 40px;
  height: 100%;
  padding-bottom: 62px;

  @include mq(tablet) {
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    width: 688px;
    display: flex;
    flex-direction: row;
  }

  @include mq(desktop) {
    width: 1090px;
    padding: 50px 112px 50px 82px;
  }
}

.reviews__title {
  min-width: 280px;
  padding: 0 20px;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;

  @include mq(tablet) {
    margin-bottom: 30px;
    font-size: 26px;
  }

  @include mq(desktop) {
    font-size: 46px;
  }
}

.reviews__left-part {
  @include mq(tablet) {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 46px;
  }

  @include mq(desktop) {
    margin-right: 40px;
  }
}

.reviews__right-part {
  @include mq(tablet) {
    width: 412px;
    text-align: left;
  }

  @include mq(desktop) {
    width: 706px;
    text-align: left;
  }
}

.reviews__main-img {
  @include margin-auto;
  margin-bottom: 30px;

  @include mq(tablet) {
    width: 150px;
    height: 150px;
    margin-bottom: 26px;
  }
}

.review__social-network-link {
  display: block;
  margin-bottom: 30px;
}

.reviews__social-network-icon {
  fill: #4267b2;

  @include mq(tablet) {
    width: 50px;
    height: 50px;
  }
}

.reviews__name {
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--accent-orange-color);

  @include mq(tablet) {
    font-size: 20px;
  }

  @include mq(desktop) {
    font-size: 30px;
  }
}

.reviews__main-info {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #b9b9b9;

  @include mq(desktop) {
    font-size: 14px;
  }
}

.reviews__additional-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  @include mq(desktop) {
    font-size: 18px;
    line-height: 1.6;
  }
}

.reviews__additional-info-link {
  color: var(--accent-orange-color);
}
// Slider
.slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  justify-content: center;
}

.slick-arrow {
  position: absolute;
  bottom: 19px;
  z-index: 1000;
  font-size: 0;
  height: 20px;
  width: 30px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 250ms linear;

  &:hover {
    transform: scale(1.3);
  }

  &.slick-prev {
    background-image: url('../images/icons/arrow-left.svg');
    left: calc(10vw);
    @include mq(mobile) {
      left: 100px;
    }

    @include mq(tablet) {
      top: 160px;
      left: 20px;
    }

    @include mq(desktop) {
      top: 185px;
      left: 50px;
    }
  }

  &.slick-next {
    background-image: url('../images/icons/arrow-right.svg');
    right: calc(10vw);
    @include mq(mobile) {
      right: 100px;
    }

    @include mq(tablet) {
      top: 160px;
      right: 20px;
    }

    @include mq(desktop) {
      top: 185px;
      right: 50px;
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  gap: 10px;

  @include mq(tablet) {
    margin-top: 30px;
    gap: 30px;
  }

  @include mq(desktop) {
    margin-top: 40px;
  }

  & button {
    border: none;
    font-size: 0px;
    width: 54px;
    height: 54px;
    border-radius: 100%;
    transition: transform 250ms linear;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.slick-active {
  & button {
    border: 1px solid #ff6b09;
    transform: scale(1.2);
  }
}

#slick-slide00 button {
  background-image: url('../images/mobile/reviews/review-1-1x.png');
  background-size: contain;
}
#slick-slide01 button {
  background-image: url('../images/mobile/reviews/review-2-1x.png');
  background-size: contain;
}
#slick-slide02 button {
  background-image: url('../images/mobile/reviews/review-3-1x.png');
  background-size: contain;
}
#slick-slide03 button {
  background-image: url('../images/mobile/reviews/review-4-1x.png');
  background-size: contain;
}
#slick-slide04 button {
  background-image: url('../images/mobile/reviews/review-5-1x.png');
  background-size: contain;
}
#slick-slide05 button {
  background-image: url('../images/mobile/reviews/review-6-1x.png');
  background-size: contain;
}

#slick-slide06 button {
  background-image: url('../images/mobile/reviews/review-7-1x.png');
  background-size: contain;
}
#slick-slide07 button {
  background-image: url('../images/mobile/reviews/review-1-1x.png');
  background-size: contain;
}

// slick-slide {
//   @include mq(mobile) {
//     width: 490px;
//     min-height: 313px;
//   }
//   @include mq(tablet) {
//     width: 688px;
//   }
// }

/* hiding all bullets by default */
.slick-dots li {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
/* only displaying the active bullets and the 2 bullets next to it */
.slick-dots li.slick-active,
.slick-dots li.slick-active + li,
.slick-dots li.slick-active + li + li {
  @media screen and (max-width: 767px) {
    display: block;
  }
}
/* displaying the last three bullets when slick-active class isn't applied to any li before them  */
.slick-dots li:nth-last-child(1),
.slick-dots li:nth-last-child(2),
.slick-dots li:nth-last-child(3) {
  @media screen and (max-width: 767px) {
    display: block;
  }
}
/* hiding the last three bullets if slick-active exist before them */
.slick-dots li.slick-active ~ li:nth-last-child(1),
.slick-dots li.slick-active ~ li:nth-last-child(2),
.slick-dots li.slick-active ~ li:nth-last-child(3) {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
/* specific conditions to always display the last three bullets */
.slick-dots li.slick-active + li + li:nth-last-child(3),
.slick-dots li.slick-active + li + li:nth-last-child(2),
.slick-dots li.slick-active + li + li:nth-last-child(1),
.slick-dots li.slick-active + li:nth-last-child(3),
.slick-dots li.slick-active + li:nth-last-child(2),
.slick-dots li.slick-active + li:nth-last-child(1) {
  @media screen and (max-width: 767px) {
    display: block;
  }
}
